.aboutPage {
    background-color: #1a202c; /* Dark background */
    color: #fff; /* White text */
    padding: 24px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .aboutSection {
        width: 100%;
        max-width: 800px;
        margin-bottom: 24px;

        .aboutTitle {
            font-size: 2.5rem;
            font-weight: bold;
            margin-bottom: 16px;
            text-align: center;
        }

        .aboutSubtitle {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 16px;
        }

        .aboutText {
            font-size: 1.125rem;
            line-height: 1.6;
            margin-bottom: 16px;
        }

        .quoteAuthor {
            font-size: 1rem;
            font-style: italic;
            text-align: right;
        }
    }

    .advantage {
        display: flex;
        flex-direction: column;

        .advantageItem {
            display: flex;
            margin-bottom: 16px;

            .advantageNumber {
                font-size: 2rem;
                font-weight: bold;
                margin-right: 16px;
                color: #ffcc00; /* Highlight the number */
            }

            .advantageText {
                font-size: 1.125rem;
                line-height: 1.6;
            }
        }
    }

    .stats {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .statItem {
            flex: 1 1 30%; /* Adjust the percentage as needed */
            text-align: center;
            margin-bottom: 16px;

            .statNumber {
                font-size: 2rem;
                font-weight: bold;
                display: block;
                color: #ffcc00; /* Highlight the number */
            }

            .statLabel {
                font-size: 1rem;
                display: block;
            }
        }
    }
}
